div.container ul {
    display: flex;
    flex-wrap: wrap;
}

div.container li {
    width:25%;
    margin: 0 auto;
}
div.container a {
    font-size: 2em;
    width: 25%;
}
div.container li img{
    width:150px;
}